
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: white;
}

.navbar-default {
    font-size: 13px;
    padding-top: 1px;
    background-color: #028237;
    border-color: #028237;
}

.navbar-default .navbar-brand {
    color: white;
    width: 130px;
    height: 30px;
}

.navbar-default .navbar-brand img{
    color: white;
    position: fixed;
    top: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    padding-bottom: -10px;
    color: #00913C;
    background-color: white;
}


.list-group-item.active {
    color: #fff;
    background-color: #028237;
    border-color: #028237;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff;
    background-color: #028237;
    border-color: #028237;
}

.list-group-item.active:after {
    color: #fff;
    background-color: #028237;
    border-color: #028237;
}

.list-group-item.active:hover {
    color: #fff;
    background-color: #028237;
    border-color: #028237;
}

.userprofile {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: -10px;
    left: -5px;
    position: relative;
    float: left;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-form label {
    color: white;
}

.table-condensed {
    font-size: 11px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff!important;
    }
}

/*.navbar-gs {
  background-color: #FFF;
  border-color: rgb(214,214,214);
}
.navbar-gs .navbar-brand {
  color: #000;
}
.navbar-gs .navbar-brand:hover,
.navbar-gs .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-gs .navbar-text {
  color: #000;
}
.navbar-gs .navbar-nav > li > a {
  color: #000;
}
.navbar-gs .navbar-nav > li > a:hover,
.navbar-gs .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-gs .navbar-nav > .active > a,
.navbar-gs .navbar-nav > .active > a:hover,
.navbar-gs .navbar-nav > .active > a:focus {
  color: #555;
  background-color: rgb(214,214,214);
}
.navbar-gs .navbar-nav > .disabled > a,
.navbar-gs .navbar-nav > .disabled > a:hover,
.navbar-gs .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-gs .navbar-toggle {
  border-color: #ddd;
}
.navbar-gs .navbar-toggle:hover,
.navbar-gs .navbar-toggle:focus {
  background-color: rgb(238,238,238);
}
.navbar-gs .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-gs .navbar-collapse,
.navbar-gs .navbar-form {
  border-color: #e7e7e7;
}
.navbar-gs .navbar-nav > .open > a,
.navbar-gs .navbar-nav > .open > a:hover,
.navbar-gs .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-gs .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-gs .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-gs .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-gs .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-gs .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-gs .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-gs .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-gs .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-gs .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-gs .navbar-link {
  color: #777;
}
.navbar-gs .navbar-link:hover {
  color: #333;
}
.navbar-gs .btn-link {
  color: #777;
}
.navbar-gs .btn-link:hover,
.navbar-gs .btn-link:focus {
  color: #333;
}
.navbar-gs .btn-link[disabled]:hover,
fieldset[disabled] .navbar-gs .btn-link:hover,
.navbar-gs .btn-link[disabled]:focus,
fieldset[disabled] .navbar-gs .btn-link:focus {
  color: #ccc;
}*/