<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>GS Pluma</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toaster/toaster.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <!-- endbuild -->

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

  </head>
  <body ng-app="webPlumaApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <toaster-container></toaster-container>
    <!-- nav -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-if="userLogged">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" >
                    <img src="images/logo.png" alt="" class="imglogo">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-form">

                        <select name="selSafra" ng-model="s.safra" ng-select="trocaSafra()" class="form-control">
                            <option value="2012">2012/13</option>
                            <option value="2013">2013/14</option>
                            <option value="2014">2014/15</option>
                        </select>


                </ul>
                <ul class="nav navbar-nav">
                    <li ng-class="{active : navActive == 'dashboard'}"><a href="#/"><i class="fa fa-pie-chart"></i> Dashboard</a></li>
                    
                    <li ng-class="{active : navActive == 'colheita'}"><a href="#/colheita"><i class="fa fa-cube"></i> Colheita</a></li>
                    
                    <li ng-class="{active : navActive == 'industria'}" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-building"></i> Industria <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/patio"><i class="fa fa-ticket"></i> Pátio</a></li>
                            <li><a href="#/beneficiamento"><i class="fa fa-plug"></i> Beneficiamento</a></li>
                            <li class="divider"></li>
                            <li><a href="#/classificacao"><i class="fa fa-check-square"></i> Classificação</a></li>
                            <!-- <li><a href="#/paradas"><i class="fa fa-close"></i> Paradas</a></li> -->
                            <li><a href="#/evolucao"><i class="fa fa-area-chart"></i> Evolução Fardão</a></li>
                        </ul>
                    </li>                
                    <li ng-class="{active : navActive == 'rendimentos'}"><a href="#/rendimentos"><i class="fa fa-bar-chart"></i> Rendimentos</a></li>
                    <li ng-class="{active : navActive == 'paradas'}"><a href="#/paradas"><i class="fa fa-close"></i> Paradas <span ng-if="totalParadas > 0" class="label label-danger">{{totalParadas}}</span></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Usuário <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href=""><i class="fa fa-info"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="Logout()"><i class="fa fa-power-off"></i> Sair</a></li>
                        </ul>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>
    <!-- end nav -->

    <div class="page-header" ng-if="userLogged"></div>

    <div class="container-fluid">
      <div ng-view="">
          
      </div>
    </div>

    <!-- footer -->

    <!-- end footer -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="bower_components/toaster/toaster.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/angular-locale_pt-br.js"></script>
    <script src="scripts/solid-gauge.js"></script>    
    <script src="scripts/app.js"></script>
    <script src="scripts/wPivot.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/filters/sum.js"></script>
    <script src="scripts/filters/avg.js"></script>
    <script src="scripts/controllers/colheita.js"></script>
    <script src="scripts/controllers/patio.js"></script>
    <script src="scripts/filters/date.js"></script>
    <script src="scripts/controllers/beneficiamento.js"></script>
    <script src="scripts/controllers/classificacao.js"></script>
    <script src="scripts/services/fardinhomodel.js"></script>    
    <script src="scripts/services/colheitamodel.js"></script>
    <script src="scripts/services/colheitaapi.js"></script>
    <script src="scripts/services/fardinhoapi.js"></script>
    <script src="scripts/services/patiomodel.js"></script>
    <script src="scripts/services/patioapi.js"></script>
    <script src="scripts/services/loginmodel.js"></script>
    <script src="scripts/services/loginapi.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/classificacaomodel.js"></script>
    <script src="scripts/services/classificacaoapi.js"></script>
    <script src="scripts/controllers/paradas.js"></script>
    <script src="scripts/controllers/rendimentos.js"></script>
    <script src="scripts/services/rendimentomodel.js"></script>
    <script src="scripts/services/rendimentoapi.js"></script>
    <script src="scripts/services/fardaomodel.js"></script>
    <script src="scripts/services/fardaoapi.js"></script>
    <script src="scripts/controllers/evolucao.js"></script>
    <script src="scripts/services/paradaapi.js"></script>
    <script src="scripts/services/paradamodel.js"></script>
    <script src="scripts/services/sessao.js"></script>
    <!-- endbuild -->
</body>
</html>
