<!-- Firt row -->
<div class="row">		
	<!-- Resumo de Fardos -->
	<div class="col-md-4 text-center">
		<div class="panel panel-success">
			<div class="panel-heading">
				<i class="fa fa-check-circle"></i> Fardos produzidos Geral
			</div>	
			<div class="panel-body" ng-show="d.FardosProduzidos.Ready">
				<div class="row text-center">
					<span class="numero1">{{d.FardosProduzidos.Data | Sum : 'QTD_FARDOS' | number}}</span> 
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3" ng-repeat="entities in d.FardosProduzidos.Data">
						<span class="numero2">{{entities.QTD_FARDOS | number : 0}}</span>
						<br>
						<span class="texto2">{{entities.UNIDADE}}</span> 
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="!d.FardosProduzidos.Ready">
				<h4>Carregando <i class="fa fa-spin fa-refresh"></i></h4>
			</div>
		</div>		
	</div>
	<!-- end Resumo de Fardos -->	
	
	<!-- Resumo de Rendimentos -->
	<div class="col-md-4 text-center">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<i class="fa fa-dashboard"></i> Rendimento
			</div>	
			<div class="panel-body" ng-show="d.Rendimentos.Ready">
				<div class="row text-center numero1">
					<span ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade == 'Total' ">{{entities.rendimento | number : 2}} %</span>
				</div>
				<hr>
				<div class="row text-center">
					<div class="col-md-3" ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade != 'Total' ">
						<span class="numero2">{{entities.rendimento | number : 2}}%</span>
						<br>
						<span class="texto2">{{entities.unidade}}</span>   
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="!d.Rendimentos.Ready">
				<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
			</div>
		</div>		
	</div>
	<!-- end Resumo de Rendimentos -->

	<!-- Resumo de Fardos por turno -->
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				<i class="fa fa-line-chart"></i> Fardos por Turno {{d.dataFiltro}}
				<span class="pull-right" ng-click="f.MostraFiltro()"><i class="fa fa-search"></i></span>
			</div>	
			<div class="panel-body " ng-show="d.FardosTurno.Ready">
				<div class="row-fluid" ng-show="d.MostrarFiltroData">
					<div class="col-sm-10">
						<input type="text" class="form-control" name="" value="" ng-model="d.dataFiltro">						
					</div>
					<div class="col-sm-2">
						<button class="btn btn-xs btn-default" ng-click="f.Filtrar();"><i class="fa fa-search"></i></button>
					</div>
					
				</div>

				<div class="row-fluid">
					<table class="table table-medium table-striped">
						<thead>
							<tr>
								<th>Unidade</th>
								<th><span class="pull-right">Diurno</span></th>
								<th><span class="pull-right">Noturno</span></th>
								<th><span class="pull-right">Total</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="value in d.FardosTurno.Data">
								<td>{{value.UNIDADE}}</td>
								<td><span class="pull-right">{{value.DIURNO}}</span></td>
								<td><span class="pull-right">{{value.NOTURNO}}</span></td>
								<th><span class="pull-right">{{value.QTD_FARDOS}}</span></th>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Totais</th>
								<th><span class="pull-right">{{d.FardosTurno.Data | Sum : 'DIURNO' | number: 0}}</span></th>
								<th><span class="pull-right">{{d.FardosTurno.Data | Sum : 'NOTURNO' | number: 0}}</span></th>
								<th><span class="pull-right">{{d.FardosTurno.Data | Sum : 'QTD_FARDOS' | number: 0}}</span></th>
							</tr>
						</tfoot>
					</table>
				</div>
				
			</div>
			<div class="panel-body" ng-show="!d.FardosTurno.Ready">
				<h4>Carregando <i class="fa fa-spin fa-refresh"></i></h4>
			</div>
		</div>		
	</div>
	<!-- end Resumo de Fardos por turno -->
</div>
<!-- end First row -->

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
			Detalhes dos Fardos
		</div>
		<div class="panel-body">
			<div class="box-responsive">
				<table class="table table-striped table-medium">
					<thead>
						<tr>
							<th>Unidade</th>
							<th><span class="pull-right">Produzidos</span></th>
							<th><span class="pull-right">Anterior</span></th>
							<th><span class="pull-right">Hoje</span></th>
							<th><span class="pull-right">Classificados</span></th>
							<th><span class="pull-right">Classificar</span></th>
							<th><span class="pull-right">Aprovar <br><small>Classificação</small></span></th>
							<th><span class="pull-right">Emblocados</span></th>
							<th><span class="pull-right">Em Espera</span></th>
							<th><span class="pull-right">Emblocar</span></th>
							<th><span class="pull-right">Remetidos</span></th>
							<th><span class="pull-right">Disponíveis</span></th>
							<th><span class="pull-right">Peso Disp.<small>(t)</small></span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entities in d.FardosProcesso.Data" ng-show="d.FardosProcesso.Ready">
							<td>{{entities.EMPBEN}}</td>
							<td><span class="pull-right">{{entities.QTDFDR | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDANT | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDHOJ | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDCLS | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDCLR | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDLIB | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDEBL | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDEBS | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDEBR | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDEMB | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTDDIS | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.PESDIS | number : 0}} <small>(t)</small></span></td>
						</tr>
						<tr ng-show="!d.FardosProcesso.Ready">
							<td colspan="10">Carregando <i class="fa fa-spin fa-spinner"></i></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Totais</th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDFDR' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDANT' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDHOJ' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDCLS' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDCLR' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDLIB' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDEBL' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDEBS' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDEBR' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDEMB' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'QTDDIS' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.FardosProcesso.Data | Sum : 'PESDIS' | number : 0}} <small>(t)</small></span></th>
						</tr>					
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Second Row -->
<div class="row-fluid" ng-if="d.FardosProduzidosSemana.Data">
	<!-- Week beneficiation chart -->
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h4><i class="fa fa-line-chart"></i> Gráfico Beneficiamento da Semana</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div ng-class="{'col-md-8' : d.FardosProduzidosHoje.Data, 'col-md-12' : !d.FardosProduzidosHoje.Data}">
					<highchart config="g.ProducaoSemana" style="height: 350px;"></highchart>
				</div>
				<div class="col-md-4" ng-if="d.FardosProduzidosHoje.Data">
					<highchart config="g.ProducaoHoje" style="height: 350px;"></highchart>
				</div>
			</div>
		</div>
	</div>
	<!-- end Week beneficiation chart -->
</div>
<!-- end Second Row -->

<!-- Thrid row -->
<div class="row-fluid" ng-if="d.FardosProduzidosHoje.Data">
	<!-- Hour beneficiation chart -->
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h4><i class="fa fa-area-chart"></i> Gráfico Beneficiamento por Hora</h4>
		</div>
		<div class="panel-body">
			<highchart config="g.ProducaoHora" style="height: 350px;"></highchart>
		</div>
	</div>
	<!-- end Hour beneficiation chart -->
</div>
<!-- end Thrid row -->