<div class="row-fluid">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <i class="fa fa-dashboard"></i> Informações Visuais
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <div class="box-responsive">
                    <h5 ng-show="!d.ClassificacaoVisualEmpresa">Carregando...<i class="fa fa-spin fa-spinner"></i></h5>
                    <table class="table table-medium" ng-show="d.ClassificacaoVisualEmpresa">
                        <thead>
                            <tr>
                                <th>Tipos</th>
                                <th ng-repeat-start="entities in d.ClassificacaoVisualEmpresa.header"><span class="pull-right">{{entities}}</span></th>
                                <th ng-repeat-end></th>
                                <th><span class="pull-right">Totais</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entities in d.ClassificacaoVisualEmpresa.data">
                                <td>{{entities.TIPO}} {{addTotal(entities.VALUE, 'QTD_FARDOS')}}</td>
                                <td ng-repeat-start="data in entities.VALUE"><span class="pull-right">{{data.QTD_FARDOS | number : 0}} </span></td>
                                <td ng-repeat-end></td>
                                <th>
                                    <span class="pull-right">{{PivotTotais | number : 0}}</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <highchart config="g.ClassificacaoVisual" style="height: 900px;"></highchart>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <i class="fa fa-pie-chart"></i> Informações de HVI
        </div>
        <div class="panel-body">
            <div class="box-responsive">
                
                <table class="table table-bordered table-striped table-medium">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3" class="text-center">Micronaire</th>
                            <th colspan="3" class="text-center">UHM</th>
                        </tr>
                        <tr>
                            <th>Unidade</th>
                            <th><span class="pull-right">< 3,5</span></th>
                            <th><span class="pull-right">3,5 a 4,9</span></th>
                            <th><span class="pull-right">> 4,9</span></th>
                            <th><span class="pull-right">< 27,3</span></th>
                            <th><span class="pull-right">27,3 à 27,99</span></th>
                            <th><span class="pull-right">> 27,99</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entities in d.ClassificacaoHvi">
                            <td>{{entities.EMPBEN}}</td>
                            <td><span class="pull-right">{{entities.MICPA1 | number : 0}}</span></td>
                            <td><span class="pull-right">{{entities.MICPA2 | number : 0}}</span></td>
                            <td><span class="pull-right">{{entities.MICPA3 | number : 0}}</span></td>
                            <td><span class="pull-right">{{entities.UHMPA1 | number : 0}}</span></td>
                            <td><span class="pull-right">{{entities.UHMPA2 | number : 0}}</span></td>
                            <td><span class="pull-right">{{entities.UHMPA3 | number : 0}}</span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'EMPBEN' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'MICPA1' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'MICPA2' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'MICPA3' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'UHMPA1' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'UHMPA2' | number : 0}}</span></th>
                    <th><span class="pull-right">{{d.ClassificacaoHvi | Sum : 'UHMPA3' | number : 0}}</span></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-table"></i> Anlise de Lotes
        </div>
        <div class="panel-body">
            <div class="box-responsive">
                <span class="pull-right"><input type="text" name="" class="form-control" ng-model="filtro" value="" placeholder="Pesquisar"></span>

                <table class="table table-medium table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Unidade</th>
                            <th><span class="pull-right">Lote</span></th>
                            <th>Tipo</th>
                            <th><span class="pull-right">Total de Fardos</span></th>
                            <th>Status</th>
                            <th>Variedades</th>
                            <th><span class="pull-right">Peso Bruto</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="values in d.VariedadesLotes | filter: filtro" ng-class="{'danger' : values.VARIEDADES.indexOf('Glt') > -1}">
                            <td>{{values.EMPRESA}}</td>
                            <td><span class="pull-right">{{values.PLU_LOTE}}</span></td>
                            <td>{{values.COD_PADRAO}}</td>
                            <td><span class="pull-right">{{values.QTDFARDOS | number : 0}}</span></td>
                            <td>{{values.STATUS}}</td>
                            <td>{{values.VARIEDADES}}</td>
                            <td><span class="pull-right">{{values.PESO_ATUAL_BRUTO | number :0}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>