<h3>Colheita</h3>

<div class="row-fluid">
	<!-- Area Plantada -->
	<div class="panel panel-info">
		<div class="panel-heading text-center">
			<i class="fa fa-dashboard"></i> Analises
		</div>	
		<div class="panel-body">
			<div class="col-md-8">
				<highchart config="g.PercentualVSMedia" style="height: 350px;"></highchart>				
			</div>
			<div class="col-md-4">
				<highchart config="g.PercentualUnidade" style="height: 350px;"></highchart>				
			</div>
		</div>	
	</div>
</div>

<div class="row-fluid">
	<!-- Area Plantada -->
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<i class="fa fa-check-circle"></i> Área Colhida em HA
		</div>	
		<div class="panel-body" ng-show="d.AreaColhida.Ready">
			<div class="col-md-12">
				<div class="box-responsive">
					<div class="row">
						<div class="col-md-2">
							<div class="text-center">
								<span class="numero1">{{d.AreaColhida.Data | Sum : 'AREA_COLHIDA' | number : 0}}</span> 
								<br>
								Área
							</div>
						</div>
						<div class="col-md-8">
							<table class="table table-medium">
								<thead>
									<tr>
										<th ng-repeat-start="entities in d.AreaColhida.Data" class="text-center">{{entities.UNIDADE}}</th>
										<th ng-repeat-end></th>
									</tr>
								</thead >
								<tbody>
									<tr>
										<td ng-repeat-start="entities in d.AreaColhida.Data" class="text-center">{{entities.AREA_COLHIDA | number : 0}} <i ng-class="{'fa fa-check text-success' : entities.area >= entities.plantado, 'fa fa-times text-danger': entities.area < entities.plantado }"></i></td>
										<td ng-repeat-end></td>
									</tr>
								</tbody>
							</table>		
						</div>						
						<div class="col-md-2">
							<div class="text-center">
								<span class="numero1">{{((d.AreaColhida.Data | Sum : 'AREA_COLHIDA') / (d.AreaColhida.Data | Sum : 'AREA_PLANTADA')) * 100 | number : 2}} %</span> 
								<br>
								Percentual
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body" ng-show="!d.AreaColhida.Ready">
			<h4>Carregando <i class="fa fa-spin fa-refresh"></i></h4>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="panel panel-success">
		<div class="panel-heading text-center">
			<i class="fa fa-medium"></i> Médias @/HA
		</div>	
		<div class="panel-body" ng-show="d.AreaColhida.Ready">
			<div class="box-responsive">
				<div class="col-md-2">
					<div class="text-center">
						<span class="numero1">{{((d.AreaColhida.Data | Sum : 'PESO_COLHIDO') / 15)  / (d.AreaColhida.Data | Sum : 'AREA_COLHIDA') | number : 2}} </span> 
						<br>
						@ / HA
					</div>
				</div>
				<div class="col-md-10">
					<table class="table table-medium">
						<thead>
							<tr>
								<th ng-repeat-start="entities in d.AreaColhida.Data" class="text-center">{{entities.UNIDADE}}</th>
								<th ng-repeat-end></th>
							</tr>
						</thead >
						<tbody>
							<tr>
								<td ng-repeat-start="entities in d.AreaColhida.Data" class="text-center">{{(entities.PESO_COLHIDO / 15) / entities.AREA_COLHIDA | number : 2}}</td>
								<td ng-repeat-end></td>
							</tr>
						</tbody>
					</table>		
				</div>
			</div>
		</div>
		<div class="panel-body" ng-show="!d.AreaColhida.Ready">
			<h4>Carregando <i class="fa fa-spin fa-refresh"></i></h4>
		</div>		
	</div>
</div>

<div class="row-fluid">
	<!-- Area Plantada -->
	<div class="panel panel-warning">
		<div class="panel-heading text-center">
			<i class="fa fa-list"></i> Detalhes
		</div>	
		<div class="panel-body" ng-show="d.AreaColhida.Ready">	
			<div class="box-responsive">
				<table class="table table-bordered table-hover table-striped table-medium">
					<thead>
						<tr>
							<th>Empresa</th>
							<th><span class="pull-right">Área Plantada</span></th>
							<th>Inicio Colheita</th>
							<th>Termino Colheita</th>
							<th><span class="pull-right">Área Colhida</span></th>
							<th><span class="pull-right">Área à Colher</span></th>
							<th><span class="pull-right">Total de Fardos</span></th>
							<th><span class="pull-right">Peso de Fardos</span></th>
							<th><span class="pull-right">Total Bobinas</span></th>
							<th><span class="pull-right">Total Fardoes</span></th>
						</tr>
					</thead >
					<tbody>
						<tr ng-repeat="entities in d.AreaColhida.Data">
							<td>
								{{entities.UNIDADE}}
								<span class="pull-right">
									<small class="label label-info">{{(entities.AREA_COLHIDA / entities.AREA_PLANTADA) * 100 | number : 2}}%</small>
								</span>
							</td>
							<td><span class="pull-right">{{entities.AREA_PLANTADA | number : 2}}</span></td>
							<td>{{entities.INICIO_COLHEITA | Date | date : 'dd/MM/yyyy'}}</td>
							<td>{{entities.FIM_COLHEITA | Date | date : 'dd/MM/yyyy'}}</td>
							<td><span class="pull-right">{{entities.AREA_COLHIDA | number : 2}}</span></td>
							<td><span class="pull-right">{{entities.AREA_PLANTADA - entities.AREA_COLHIDA | number : 2}}</span></td>
							<td><span class="pull-right">{{entities.QTD_FARDOS | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.PESO_COLHIDO / 1000 | number : 2}} t</span></td>
							<td><span class="pull-right">{{entities.QTD_BOBINAS | number : 0}}</span></td>
							<td><span class="pull-right">{{entities.QTD_FARDOES | number : 0}}</span></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Totais</th>
							<th><span class="pull-right">{{d.AreaColhida.Data | Sum : 'AREA_PLANTADA' | number : 2}}</span></th>
							<th colspan="2"></th>
							<th><span class="pull-right">{{d.AreaColhida.Data | Sum : 'AREA_COLHIDA' | number : 2}}</span></th>
							<th><span class="pull-right">{{(d.AreaColhida.Data | Sum : 'AREA_PLANTADA') - (d.AreaColhida.Data | Sum : 'AREA_COLHIDA') | number : 2}}</span></th>
							<th><span class="pull-right">{{d.AreaColhida.Data | Sum : 'QTD_FARDOS' | number : 2}}</span></th>
							<th><span class="pull-right">{{(d.AreaColhida.Data | Sum : 'PESO_COLHIDO') / 1000 | number : 2}} t</span></th>
							<th><span class="pull-right">{{d.AreaColhida.Data | Sum : 'QTD_BOBINAS' | number : 0}}</span></th>
							<th><span class="pull-right">{{d.AreaColhida.Data | Sum : 'QTD_FARDOES' | number : 0}}</span></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<div class="panel-body" ng-show="!d.AreaColhida.Ready">
			<h4>Carregando <i class="fa fa-spin fa-refresh"></i></h4>
		</div>
	</div>
</div>