<div class="panel panel-info">
	<div class="panel-heading text-center">
		<i class="fa fa-line-chart"></i> Acompanhamento da Evolução do Fardão
	</div>
	<div class="panel-body">
		<div class="box-responsive">
			<input type="text" class="form-control" placeholder="Pesquisar" ng-model="filtro" name="" value="">	
			<hr>
			<table class="table table-medium">
				<thead>
					<tr>
						<th>Produtora</th>
						<th>Variedade</th>
						<th>Tipo</th>
						<th>Status</th>
						<th>Colheita</th>
						<th>Beneficiadora</th>
						<th>Tipos</th>
						<th><span class="pull-right">Rendimento</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="!d.RendimentoTipo.Ready">
						<td colspan="8">
							<i class="fa fa-spin fa-spinner" ng-show="!d.RendimentoTipo.Ready"></i>
						</td>
					</tr>
					<tr ng-repeat="value in d.RendimentoTipo.Data | filter : filtro" ng-show="d.RendimentoTipo.Ready">
						<td>{{value.EMPPRO}}</td>
						<td>{{value.CODVAR}}</td>
						<td>{{value.FARTIP}}</td>
						<td>{{value.FARSTS}}</td>
						<td>{{value.DATFAR | Date | date : 'dd/MM/yyyy'}}</td>
						<td>{{value.EMPBEN}}</td>
						<td>{{value.TIPFRD}}</td>
						<td><span class="pull-right">{{(value.PESFDR / value.PESBAL) * 100 | number : 2}} %</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>