<!-- Second Row -->
<div class="row-fluid" ng-if="d.FardosProduzidosHoje.Data">
	<!-- Week beneficiation chart -->
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h4><i class="fa fa-line-chart"></i> Gráfico Beneficiamento da Semana</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					<highchart config="g.ProducaoHora" style="height: 350px;"></highchart>
				</div>
				<div class="col-md-4">
					<highchart config="g.ProducaoHoje" style="height: 350px;"></highchart>
				</div>
			</div>
		</div>
	</div>
	<!-- end Week beneficiation chart -->
</div>
<!-- end Second Row -->

<!-- Firt row -->
<div class="row">		

	<!-- Resumo de Fardos -->
	<div class="col-md-4 text-center">
		<div class="panel panel-success">
			<div class="panel-heading">
				<i class="fa fa-check-circle"></i> Fardos produzidos Geral
			</div>	
			<div class="panel-body" ng-show="d.FardosProduzidos.Ready">
				<div class="row text-center">
					<span class="numero1">{{d.FardosProduzidos.Data | Sum : 'QTD_FARDOS' | number}}</span> 
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3" ng-repeat="entities in d.FardosProduzidos.Data">
						<span class="numero2">{{entities.QTD_FARDOS | number : 0}}</span>
						<br>
						<span class="texto2">{{entities.UNIDADE}}</span> 
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="!d.FardosProduzidos.Ready">
				<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
			</div>
		</div>		
	</div>
	<!-- end Resumo de Fardos -->	
	
	<!-- Resumo de Rendimentos -->
	<div class="col-md-4 text-center">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<i class="fa fa-dashboard"></i> Rendimento
			</div>	
			<div class="panel-body" ng-show="d.Rendimentos.Ready">
				<div class="row text-center numero1">
					<span ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade == 'Total' ">{{entities.rendimento | number : 2}} %</span>
				</div>
				<hr>
				<div class="row text-center">
					<div class="col-md-3" ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade != 'Total' ">
						<span class="numero2">{{entities.rendimento | number : 2}}%</span>
						<br>
						<span class="texto2">{{entities.unidade}}</span>   
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="!d.Rendimentos.Ready">
				<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
			</div>
		</div>		
	</div>
	<!-- end Resumo de Rendimentos -->

	<div class="col-md-4 text-center">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<i class="fa fa-medium"></i> Médias @/HA
			</div>	
			<div class="panel-body" ng-show="d.AreaColhida.Ready">
				<div class="row">
					<div class="text-center">
						<span class="numero1">{{((d.AreaColhida.Data | Sum : 'PESO_COLHIDO') / 15)  / (d.AreaColhida.Data | Sum : 'AREA_COLHIDA') | number : 2}} </span> 
						@ / HA
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3" ng-repeat="entities in d.AreaColhida.Data">
						<span class="numero2">{{(entities.PESO_COLHIDO / 15) / entities.AREA_COLHIDA | number : 2}}</span>
						<br>
						<span class="texto2">{{entities.UNIDADE}}</span>   
					</div>						
				</div>
			</div>
			<div class="panel-body" ng-show="!d.AreaColhida.Ready">
				<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
			</div>			
		</div>
	</div>
</div>
<!-- end First row -->