
    <div class="card card-container">

        <form class="form-signin" name="singin" ng-submit="Logar()">
            <span id="reauth-email" class="reauth-email"></span>

            <div class="form-group has-feedback" ng-class="{'has-error' : !user.name, 'has-success' : user.name}">
                <input type="text" class="form-control" placeholder="Login" ng-model="user.name" required autofocus >                
                <span ng-show="user.name" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="!user.name" class="glyphicon glyphicon-remove  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" ng-class="{'has-error' : !user.pass, 'has-success' : user.pass}">
            	<input type="password" class="form-control" placeholder="Senha" ng-model="user.pass"required>
            	<span ng-show="user.pass" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="!user.pass" class="glyphicon glyphicon-remove  form-control-feedback"></span>
            </div>

<!--             <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me" ng-model="user.remeber"> Lembrar
                </label>
            </div>
 -->            <button ng-disabled="singin.$invalid" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logar</button>
        </form>
        <!-- <a href="#" class="forgot-password">Esqueceu a senha?</a> -->
    </div>
