<div class="row">
	<div class="col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading text-center">
				Resumo das Paradas
			</div>
			<div class="panel-body">
				<table class="table table-medium">
					<thead>
						<tr>
							<th>Unidade</th>
							<th>Tempo total parado</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="values in d.ParadaResumo.Data">
							<td>{{values.EMPRESA}}</td>
							<td><em>{{values.DIAS}}</em> <small>dias</small>, <em>{{values.HORAS}}</em> <small>horas</small>, <em>{{values.MINUTOS}}</em> <small>minutos</small></td>
						</tr>
					</tbody>
				</table>		
			</div>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				Paradas Hoje
			</div>
			<div class="panel-body">
				<table class="table table-medium">
					<thead>
						<tr>
							<th>Unidade</th>
							<th>Tempo Parado</th>
							<th>Ainda Parado?</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="values in d.ParadaHoje.Data">
							<td>
								{{values.EMPRESA}}
								<span class=""><small class="label label-danger">{{values.QTD}}</small></span>
							</td>
							<td><em>{{values.DIAS}}</em> <small>dias</small>, <em>{{values.HORAS}}</em> <small>horas</small>, <em>{{values.MINUTOS}}</em> <small>minutos</small></td>
							<td>{{values.QTD_ABERTAS > 0 ? 'Sim' : 'Não'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading text-center">
				Gráfico de Paradas Hoje
			</div>
			<div class="panel-body">
				<highchart config="g.ParadasHoje" style="height: 200px;"></highchart>
				
			</div>
		</div>
	</div>
	
</div>

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			Informações de Paradas
		</div>
		<div class="panel-body">
			<div class="col-md-12 box-responsive">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" ng-model="paradaFiltro" value="" placeholder="Filtro">
						<hr>
						<table class="table table-medium table-striped">
							<thead>
								<tr>
									<th>Unidade</th>
									<th>Data</th>
									<th>Motivos</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="values in d.ParadaSemana.Data | filter : paradaFiltro" ng-click="f.detalheParada(values, $index)" ng-class="{'success' : paradaSelected == $index}">
									<td>{{values.EMPRESA}}</td>
									<td>{{values.DATA | Date | date : 'dd/MM/yyyy'}}</td>
									<td>{{values.MOTIVOS}}</td>
								</tr>
							</tbody>
						</table>
					</div>
 					<div class="col-md-6" ng-show="d.DetalheParada.Ready">
 						<h4 class="text-center">Detalhes das paradas em <b>{{d.DetalheParada.Data.Header.EMPRESA}}</b> no dia <b>{{d.DetalheParada.Data.Header.DATA | Date | date : 'dd/MM/yyyy'}}</b></h4>
						<hr>
						<table class="table table-medium table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th>Motivo</th>
									<th>Inicio</th>
									<th>Fim</th>
									<th>Tempo</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="values in d.DetalheParada.Data.Dados">
									<td>{{values.MOTIVO}} <span class="pull-right"><i ng-class="{'fa fa-check' : values.TERMINADO,'fa fa-close text-danger' : !values.TERMINADO}"></i></span></td>
									<td>{{values.PAR_INICIO | Date | date : 'HH:mm'}}</td>
									<td>{{values.PAR_FIM | Date | date : 'HH:mm'}}</td>
									<td><em>{{values.DIAS}}</em> <small>dias</small>, <em>{{values.HORAS}}</em> <small>horas</small>, <em>{{values.MINUTOS}}</em> <small>minutos</small></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

