<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			Conferência de Pátio
		</div>
		<div class="panel-body" ng-show="d.Patio.Ready">
			<div class="col-md-12">
				<div class="row-fluid">
					<div class="col-md-2">
						<div class="row">
							<div class="text-center">
								<span class="numero1">{{(d.Patio.Data | Sum : 'QTD_FARDAO') + (d.Patio.Data | Sum : 'QTD_BOBINA')| number : 0}}</span> 
								<br>
								Módulos
							</div>							
						</div>
						<hr>
						<div class="row">
							<div class="col-md-6">
								<div class="text-center">
									<span class="numero2">{{d.Patio.Data | Sum : 'QTD_FARDAO' | number : 0}}</span> 
									<br>
									Fardões
								</div>								
							</div>
							<div class="col-md-6">
								<div class="text-center">
									<span class="numero2">{{d.Patio.Data | Sum : 'QTD_BOBINA' | number : 0}}</span> 
									<br>
									Bobinas
								</div>								
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="box-responsive">
							<table class="table">
								<thead>
									<tr>
										<th colspan="2" ng-repeat-start="entities in d.Patio.Data" class="text-center">{{entities.UNIDADE}}</th>
										<th ng-repeat-end></th>
									</tr>
								</thead >
								<tbody>
									<tr>
										<td colspan="2" ng-repeat-start="entities in d.Patio.Data" class="text-center">
											{{(entities.QTD_FARDAO) + (entities.QTD_BOBINA) | number : 0}} <br>
											<small>Módulos</small>
										</td>
										<td ng-repeat-end></td>
									</tr>
									<tr>
										<td ng-repeat-start="entities in d.Patio.Data" class="text-center">
											{{entities.QTD_FARDAO | number : 0}} <br>
											<small>Fardões</small> 
										</td>
										<td class="text-center">
											{{entities.QTD_BOBINA | number : 0}} <br>
											<small>Bobinas</small> 
										</td>
										<td ng-repeat-end></td>
									</tr>
									<tr>
										<td colspan="2" ng-repeat-start="entities in d.Patio.Data" class="text-center">
											{{(entities.PESO_RECEBIDO) / 1000 | number : 2}} <br>
											<small>Toneladas</small>
										</td>
										<td ng-repeat-end></td>									
									</tr>
								</tbody>
							</table>		
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="text-center">
								<span class="numero1">{{(d.Patio.Data | Sum : 'PESO_RECEBIDO') / 1000 | number : 0}}</span> 
								<br>
								Toneladas
							</div>							
						</div>
						<hr>
						<div class="row">
							<div class="text-center">
								<span class="numero1">{{(d.Patio.Data | Sum : 'PESO_RECEBIDO') / 15 | number : 0}}</span> 
								<br>
								@ Arrobas
							</div>							
						</div>						
					</div>							
				</div>
			</div>
		</div>
		<div class="panel-body" ng-show="!d.Patio.Ready">
			<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Informações de Fardão na Algodoeira
			</div>
			<div class="panel-body">
				<div class="box-responsive">
					<table class="table table-medium table-striped">
						<thead>
							<tr>
								<th>Empresa</th>
								<th>Tipo <small class="pull-right">variedade</small></th>
								<th><span class="pull-right">Pátio</span></th>
								<th><span class="pull-right">Fila</span></th>
								<th><span class="pull-right">Processando</span></th>
								<th><span class="pull-right">Finalizado</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="value in d.FardaoBeneficiadora.Data">
								<td>{{value.EMPRESABEN}}</td>
								<td>{{value.FARTIPO}} <small class="pull-right">{{value.VARIEDADES}}</small></td>
								<td><span class="pull-right">{{value.PATIO | number : 0}}</span></td>
								<td><span class="pull-right">{{value.FILA | number : 0}}</span></td>
								<td><span class="pull-right">{{value.PROC | number : 0}}</span></td>
								<td><span class="pull-right">{{value.FIN | number : 0}}</span></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="2">Total</th>
								<th><span class="pull-right">{{d.FardaoBeneficiadora.Data | Sum : 'PATIO' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoBeneficiadora.Data | Sum : 'FILA' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoBeneficiadora.Data | Sum : 'PROC' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoBeneficiadora.Data | Sum : 'FIN' | number : 0}}</span></th>
							</tr>
						</tfoot>
					</table>				
				</div>
			</div>
		</div>		
	</div>				
	<div class="col-md-6 text-center" >
		<div class="panel panel-success">
			<div class="panel-heading">
				Percentuais de Produção
			</div>
			<div class="panel-body">
				<div class="row-fluid">
					<div class="col-md-6">
						<h3>% Peso</h3>
						<hr>
						<h4>Fardão : <b>{{d.FardosGerais.Data.Percentuais.PesoFardao}} %</b> <small>{{d.FardosGerais.Data.Pesos.Fardao  / 1000 | number : 0}} Toneladas</small></h4>
						<h4>Rolinho : <b>{{d.FardosGerais.Data.Percentuais.PesoRolinho}} %</b> <small>{{d.FardosGerais.Data.Pesos.Rolinho  / 1000 | number : 0}} Toneladas</small></h4>
						<h5>Totalizando {{(d.FardosGerais.Data.Pesos.Fardao + d.FardosGerais.Data.Pesos.Rolinho) / 1000| number : 0}} Toneladas</h5>
						
					</div>
					<div class="col-md-6">
						<h3>% Quantidade</h3>
						<hr>
						<h4>Fardão : <b>{{d.FardosGerais.Data.Percentuais.QtdFardao}} %</b> <small>{{d.FardosGerais.Data.Quantidades.Fardao | number : 0}} Unidades</small></h4>
						<h4>Rolinho : <b>{{d.FardosGerais.Data.Percentuais.QtdRolinho}} %</b> <small>{{d.FardosGerais.Data.Quantidades.Rolinho  | number : 0}} Unidades</small></h4>						
						<h5>Totalizando {{d.FardosGerais.Data.Quantidades.Fardao + d.FardosGerais.Data.Quantidades.Rolinho | number : 0}} Unidades</h5>
					</div>											
				</div>
			</div>	
		</div>
	</div>		
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Informações de Fardão na Lavoura
			</div>
			<div class="panel-body">
				<div class="box-responsive">
					<table class="table table-medium table-striped">
						<thead>
							<tr>
								<th>Empresa</th>
								<th>Tipo</th>
								<th><span class="pull-right">Lavoura</span></th>
								<th><span class="pull-right">Pátio</span></th>
								<th><span class="pull-right">Fila</span></th>
								<th><span class="pull-right">Processando</span></th>
								<th><span class="pull-right">Finalizado</span></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="value in d.FardaoProdutora.Data">
								<td>{{value.EMPRESAPROD}}</td>
								<td>{{value.FARTIPO}}</td>
								<td><span class="pull-right">{{value.LAVOURA | number : 0}}</span></td>
								<td><span class="pull-right">{{value.PATIO | number : 0}}</span></td>
								<td><span class="pull-right">{{value.FILA | number : 0}}</span></td>
								<td><span class="pull-right">{{value.PROC | number : 0}}</span></td>
								<td><span class="pull-right">{{value.FIN | number : 0}}</span></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="2">Total</th>
								<th><span class="pull-right">{{d.FardaoProdutora.Data | Sum : 'LAVOURA' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoProdutora.Data | Sum : 'PATIO' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoProdutora.Data | Sum : 'FILA' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoProdutora.Data | Sum : 'PROC' | number : 0}}</span></th>
								<th><span class="pull-right">{{d.FardaoProdutora.Data | Sum : 'FIN' | number : 0}}</span></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>			
		</div>		
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				Situações dos fardões
			</div>
			<div class="panel-body">
				<highchart config="c.StatusGeral" style="height: 530px;"></highchart>										
			</div>
		</div>		
	</div>		
</div>