<h3>Plantio</h3>
<div class="row-fluid">
	<!-- Area Plantada -->
	<div class="panel panel-success">
		<div class="panel-heading text-center">
			<i class="fa fa-check-circle"></i> Área Plantada em HA
		</div>	
		<div class="panel-body">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4">
						<div class="text-center">
							<span class="numero1">{{AreaPlantada | Sum : 'area' | number : 0}}</span> 
						</div>
					</div>
						<div class="col-md-8">
							<table class="table table-medium">
								<thead>
									<tr>
										<th ng-repeat-start="entities in AreaPlantada" class="text-center">{{entities.unidade}}</th>
										<th ng-repeat-end></th>
									</tr>
								</thead >
								<tbody>
									<tr>
										<td ng-repeat-start="entities in AreaPlantada" class="text-center">{{entities.area | number : 0}}</td>
										<td ng-repeat-end></td>
									</tr>
								</tbody>
							</table>		
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<!-- Variedade Plantada -->
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			Variedades Plantadas em HA
		</div>
		<div class="panel-body">
			<table class="table table-medium">
				<thead>
					<tr>
						<th ng-repeat-start="entities in VariedadePlantada" class="text-center">{{entities.variedade}}</th>
						<th ng-repeat-end></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td ng-repeat-start="entities in VariedadePlantada" class="text-center">{{entities.area | number : 0}}</td>
						<td ng-repeat-end></td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<i class="fa fa-list"></i> Detalhes do Plantio
		</div>
		<div class="panel-body">
			<table class="table table-medium">
				<thead>
					<tr>
						<th>Safra</th>
						<th>Unidade</th>
						<th><span class="pull-right">Área</span></th>
						<th>Inicio</th>
						<th>Fim</th>
						<th>Variedades</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entities in DetalhePlantio">
						<td>{{entities.safra}}</td>
						<td>{{entities.unidade}}</td>
						<td><span class="pull-right">{{entities.area | number : 2}}</span></td>
						<td>{{entities.inicio_plantio}}</td>
						<td>{{entities.fim_plantio}}</td>
						<td>{{entities.variedades.substr(0,70)}}...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>