<div class="row">
	<div class="col-md-6">
		<div class="row-fluid">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<i class="fa fa-dashboard"></i> Rendimento Pluma / Beneficiadora
				</div>	
				<div class="panel-body" ng-show="d.Rendimentos.Ready">
					<div class="row text-center numero1">
						<span ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade == 'Total' ">{{entities.rendimento | number : 2}} %</span>
					</div>
					<hr>
					<div class="row text-center">
						<div class="col-md-3" ng-repeat="entities in d.Rendimentos.Data" ng-if="entities.unidade != 'Total' ">
							<span class="numero2">{{entities.rendimento | number : 2}}%</span>
							<br>
							<span class="texto2">{{entities.unidade}}</span>   
						</div>
					</div>
				</div>
				<div class="panel-body" ng-show="!d.Rendimentos.Ready">
					<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
				</div>
			</div>				
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<i class="fa fa-medium"></i> Médias @/HA Produtora
				</div>	
				<div class="panel-body" ng-show="d.AreaColhida.Ready">
					<div class="row">
						<div class="text-center">
							<span class="numero1">{{((d.AreaColhida.Data | Sum : 'PESO_COLHIDO') / 15)  / (d.AreaColhida.Data | Sum : 'AREA_COLHIDA') | number : 2}} </span> 
							@ / HA
						</div>
					</div>
					<div class="row">
						<div class="col-md-2" ng-repeat="entities in d.AreaColhida.Data">
							<span class="numero2">{{(entities.PESO_COLHIDO / 15) / entities.AREA_COLHIDA | number : 2}}</span>
							<br>
							<span class="texto2">{{entities.UNIDADE}}</span>   
						</div>						
					</div>
				</div>
				<div class="panel-body" ng-show="!d.AreaColhida.Ready">
					<h4>Carregando <i class="fa fa-refresh fa-spin"></i></h4>	
				</div>			
			</div>			
		</div>
	</div>

	<div class="col-md-6 text-center">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<i class="fa fa-bar-chart"></i> Rendimento de Pluma / Variedade
			</div>	
			<div class="panel-body" ng-show="d.AreaColhida.Ready">
				<highchart config="g.RendimentoVariedade" style="height: 350px;"></highchart>
			</div>
		</div>
	</div>	

				

</div>	

<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<i class="fa fa-line-chart"></i> Rendimento de Pluma / Variedade
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<highchart config="g.RendimentoVariedadeBeneficiadora" style="height: 400px;"></highchart>
			</div>
			<div class="col-md-6">
				<highchart config="g.RendimentoVariedadeProdutora" style="height: 400px;"></highchart>
		</div>
	</div>

</div>
